/* .canvasCss {display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 800px;
    height: 600px;
    padding: 0;
    margin: auto;} */
